@import url("styles/normalize.css");
@import url("styles/header.css");
@import url("styles/profile.css");
@import url("styles/about.css");
@import url("styles/skills.css");
@import url("styles/hobbies.css");
@import url("styles/academic.css");
@import url("styles/experience.css");
@import url("styles/contacto.css");
@import url("styles/footer.css");

:root{
   --body-color: #F5F5F5;
   --link-color: #000;
   --font-color: #464646;
   --primary-color: #EAF2FD;
   --button-color: #2A7AE4;
   --white: #FFFFFF;
   --grey: #C8C8C8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-color);
  }

body {
    font-family: 'Raleway';
    background-color: var(--body-color);
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 16px;
}

.section__titles {
    margin-bottom: 15px;
    font-size: 1.375rem;
    text-align: center;
}

.paragraph {
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 15px;
}

.button {
    height: 40px;
    padding: 12px 16px;
    font-size: 0.875rem;
    font-weight: 600;
    border: 1px solid var(--button-color);
    background-color: var(--button-color);
    color: var(--white);
}


@media screen and (min-width: 576px) {
    .container {
        padding: 32px;
    }
}
   
  
@media screen and (min-width: 992px) {
    .container {
        padding: 32px 16px;
        max-width: 1136px;
        margin: 0 auto;
    }

    .section__titles {
        font-size: 2rem;
    }

    .paragraph {
        font-size: 1rem;
    }
}