.academic {
  padding: 30px;
  background-color: var(--primary-color);
}

.academic__courses__list>li {
  margin: 10px 0;
}

.academic__courses__item__img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 118px;
  background-color: var(--white);
}

.academic__courses__item__img>img {
  height: 50%;
}

.academic__courses__item__subtitle {
  font-weight: 500 !important;
}


@media screen and (min-width: 576px) {
  .academic {
    padding: 0;
  }

  .academic__courses {
    display: flex;
    gap: 15px;
  }

  .academic__courses__list {
    width: 26%;
    flex-grow: 1;
  }
}


@media screen and (min-width: 992px) {
  .academic__courses__item__img {
    height: 286px;
  }

  .academic__courses__item__title {
    font-size: 1.375rem;
  }
}

