.formcontato {
  background-color: var(--primary-color);
  padding: 30px;
}

.formcontato__img {
  display: none;
}

.formcontato__title {
  text-align: left !important;
}

.formcontato__subtext {
  font-size: 1rem;
  font-weight: 500;
}

.input-container {
  position: relative;
  margin-top: 30px;
}

.formcontato__input {
  height: 56px;
  background-color: var(--white);
  border-radius: 4px;
  border: 2px solid transparent;
  border-bottom: 2px solid var(--grey);
  width: 100%;
  padding: 15px 10px;
  outline: none;
}

.input-error {
  border: 2px solid #ff0000;
}

.error-message {
  background-color: transparent; 
  color: var(--white); 
  position: absolute; 
  top: -19px;
  left: 10px;
  font-size: 0.75rem; 
  border-radius: 5px; 
  padding: 4px;
}

.active-error {
  background-color: #ff0000;
}

.formcontato__input:focus {
  border-bottom: 2px solid var(--button-color);
}

.formcontato__textarea {
  height: 130px;
  margin-bottom: 30px;
  resize: none;
}


@media screen and (min-width: 576px) {
  .formcontato {
    padding: 0;
  }
}

@media screen and (min-width: 992px) {
  .formcontato {
    padding-top: 32px;
  }

  .formcontato__contacto {
    display: flex;
    gap: 16px;
  }

  .formcontato__img {
    display: block;
  }

  .formcontato__img>img {
    height: 100%;
  }
}