.experience {
  padding: 30px;
}

.experience__box {
  padding-bottom: 50px;
}

.experience__box:last-child {
  padding-bottom: 0;
}

.experience__img {
  width: 100%;
}

.experience__title {
  font-size: 1rem;
  margin: 10px 0;
}

.experience__text {
  font-weight: 500 !important;
}

.repo-btn {
  color: var(--button-color) !important;
  background-color: transparent !important;
}


@media screen and (min-width: 576px) {
  .experience {
    padding: 0;
  }
}


@media screen and (min-width: 992px) {
  .experience__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  .experience__img {
    width: 67%;
  }

  .experience__info {
    flex-grow: 1;
  }

  .experience__title {
    font-size: 1.375rem;
  }

  .reverse {
    flex-direction: row-reverse;
  }
}