.header-container {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.menu__title {
  font-size: 1rem;
  margin: 10px;
}

.menu__list {
  font-size: 0.875rem;
}

.menu__list>li:not(:last-child){
  display: none;
}

@media screen and (min-width: 576px) {
  .header-container {
    padding: 0 32px !important;
  }

  .menu__list {
    font-size: 1rem;
  }

  .menu__list>li:last-child {
    font-weight: 700;
  }
}

@media screen and (min-width: 992px) {
  .header-container {
    height: 88px;
    padding: 0 16px !important;
  }

  .menu__list {
    display: flex;
    gap: 32px;
  }

  .menu__list>li:not(:last-child){
    display: block;
    font-weight: 500;
  }
}