.title__profile {
  width: 98px;
  margin-bottom: 16px;
}

.title__bio {
  text-align: left !important;
}

.title__network {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 600;
}

.title__network img {
  margin-left: 4px;
}


@media screen and (min-width: 576px) {
  .profile-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  .title__profile {
    width: 146px;
    height: 146px;
    margin-left: 60px;
  }

  .title__network {
    font-size: 1rem;
  }
}


@media screen and (min-width: 992px) {
  .title__profile {
    width: 368px;
    height: 368px;
    margin-left: 30px;
  }

  .title__bio {
    font-size: 3.25rem !important;
  }

  .title__subsection {
    font-size: 1.375rem !important;
  }

  .title__network {
    justify-content: flex-start;
    gap: 32px;
  }
}