.title__profile {
  width: 98px;
}

.title__bio {
  text-align: left !important;
}

.title__network {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 600;
}

.title__network img {
  margin-left: 3px;
}


@media screen and (min-width: 576px) {
  .profile-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .title__profile {
    width: 146px;
    height: 146px;
    margin-left: 60px;
  }
}