.skills__line {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.skills__box {
  display: flex;
  align-items: end;
  flex-grow: 1;
  padding: 20px;
  margin: 10px 0;
  background-color: var(--white);
  height: 118px;
  width: 40%;
}

.skills__name {
  font-weight: 700;
}


@media screen and (min-width: 576px) {
  .skills__box {
    width: 26%;
  }
}